/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: DORADO_DEMUX {

     publishDir = [
            path: { "${params.outdir}/dorado_demux/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FQCRS_TO_HIVE_ORIGINAL {

        publishDir = [

            path: { "${params.outdir}/fqcrs_hive_original/" },
            mode: 'copy', // Can't read symlinks into R
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FQCRS_TO_HIVE_REBASECALL {

        publishDir = [

            path: { "${params.outdir}/fqcrs_hive_rebasecall/experiment=${meta.experiment}/sample=${meta.sample}/protocol=${meta.run_id}/barcode=${meta.barcode}/file=${meta.file}/" },
            mode: 'copy', // Can't read symlinks into R
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: ONT_SEQUENCING_SUMMARY_TO_PARQUET {

        publishDir = [
            // Why not use sample instread of run_id?
            path: { "${params.outdir}/sequencing_summary_hive/experiment=${meta.experiment}/run_id=${meta.run_id}/" },
            mode: 'copy', // Can't read symlinks into R
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_SORT {

        ext.prefix = { "${meta.id}.sorted" }

        publishDir = [
            path: { "${params.outdir}/samtools_sort/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MOSDEPTH {

        ext.args = '-n'

        publishDir = [
            path: { "${params.outdir}/mosdepth/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-x map-ont --secondary=no'
    }

    withName: 'SAMTOOLS_PASS' {
        ext.args = "-e \'[qs]>=${params.pass_threshold}\'"
        ext.prefix = { "${meta.id}.pass" }
    }

    withName: 'SAMTOOLS_FASTQ_SAMTOOLS_PASS' {
        ext.args = '-T MM,ML'

            publishDir = [
            path: { "${params.outdir}/samtools_fastq_samtools_pass/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
}

    withName: 'MINIMAP2_INDEX' {
        ext.args = '-x map-ont'
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
